main {
    margin: 0;
    background: url("/Fondos/FondoEstandar.png");
    filter: brightness(70%);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.EspacioLogin {
    background-color: black;
    width: 50%;
    height: 100%;
    clip-path: polygon(
        20px 0,
        100% 0,
        100% 100%,
        0 100%,
        0 20px
    );
}